name: CI-Polaris-Basic
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
   
jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'
        cache: maven
    - name: Prepare Maven
      run: mvn spotless:apply && mvn -N wrapper:wrapper && chmod +x ./mvnw
    - name: Polaris Scan
      uses: blackduck-inc/black-duck-security-scan@v2
      with:
        ### SCANNING: Required fields
        polaris_server_url: ${{ vars.POLARIS_SERVER_URL }}
        polaris_access_token: ${{ secrets.POLARIS_ACCESS_TOKEN }}
        polaris_assessment_types: "SCA,SAST"
        
        ### SCANNING OPTIONAL
        polaris_application_name: "Evan Onboarding"
        
        ### SCANNING OPTIONAL: Pull Request comments
        #polaris_prComment_enabled: true
        #github_token: ${{ secrets.GITHUB_TOKEN }} # Required when Pull Request comments field enabled
        
        ### ENABLE OPTIONAL SCAN REPORTS
        #polaris_reports_sarif_create: true
        #polaris_upload_sarif_report: true
        # include_diagnostics: true
